.hidden {
    display: none !important;
}

.block {
    display: block;
}

.my-custom-card {
    z-index: 999999999999 !important;
    background-color: #fff !important;
    width: 100% !important;
}

.card {
    background-color: white;
    /* border: 1px solid black; */
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}